input {
    font-size: 16px;
    border: unset;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
    padding: 5px;
}

input:disabled {
    border-color: transparent;
    background-color: transparent;
    color: black;
}