
.textbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.textbox label {
    font-weight: bold;
    color: gray;
}

.notEditing {
    flex-direction: row;
    gap: 10px;
}

.labelText {
    font-weight: bold;
}