:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

p,h3 {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 20px;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
